body {
    background-color: #eee;
    font-family: 'Avenir LT Std', sans-serif;
}

nav {
    background-color: #3EB489;
    height: 65px;
    font-size: x-large;
    text-align: center;
    color: white;
    box-shadow: 2px 2px 2px 2px #888888;
}

nav .modal {
    color: black;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav > .col-2 > a {
    padding-left: 10px;
}

.post-box {
    height: 120px;
    border-bottom: 1px solid black;
    display: flex;
}

.post-details-box {
    padding-left: 10px;
    padding-top: 10px;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
}

#exampleModal .modal-body input {
    float: right;
    margin-top: 10px;
    background-color: #3EB489;
    border: 3px solid #3EB489;
}

.post-content-box {
    font-size: larger;
}

.post-time-box {
    font-size: small;
    color: #3EB489;
    flex-grow: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.post-like-box {
    display: inline-block;
    font-size: x-large;
    margin: auto;
    text-align: center;
}